{% extends 'template.html' %}

{% block title %}Usability Console - Questions{% endblock %}


{% block css_styles %}
        input {
            line-height: 35px;
            width: 400px;
            margin-top: 10px;
            font-size: x-large;
        }

        td {
            padding: 15px;
         }

         .questions {
             padding-top: 100px;
         }

         .hidden {
            visibility: hidden
         }

{% endblock %}


{% block content %}
<head>
    {{ fontawesome_html() }}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <script>
       window.onload = function(){
            var url = document.location.href
            if(url.includes("settings")) {
                var tab = document.getElementById('settingsTab');
                tab.className = 'currentTab'
                }
            else if (url.includes("viewall")) {
                var tab = document.getElementById('homeTab');
                tab.className = 'currentTab'
                }
            }
  </script>
  <body>
<br /><br />

<h2 style="margin-bottom: 10%; margin-left: 3%; color: grey;">Password Recovery</h3>
<div class = " {{ hideStatusUsername }}">
<form action="{{ request.path }}" method="POST">
    <table class="centered" style="text-align: right; font-size: x-large;">
        <tr>
            <td><span style="margin-left: 15px;"><b>Username</b> :</span></span></td>
            <td><input type="text" name="username" placeholder="{{ username }} " required /> </td> 
        </tr>
        <tr>
            <td colspan="2">
                <input class=" {{ hideStatusForm }}" type="submit" style="font-size: larger; margin-top: 25px;" value="Ok"/>
            </td>
        </tr>
    </table>
</form>
</div>

<div class = "questions {{ hideStatusForm }}">
<h1 style="text-align: center; color: red; margin-top: 100px;">Remaining attempts: {{ questions_guess }}</h1>
<form action="{{ request.path }}" method="POST">
    <table class="centered" style="text-align: right; font-size: x-large;">
        <tr>
            <td><span style="margin-left: 15px;"><b>Question</b> :</span></span></td>
            <td><span> {{ question }} </span>  </td>
        </tr>
        <tr>
            <td></i> <span style="margin-left: 15px;"><b>Answer</b> :</span></td>
            <td><input style="width: 100%;" type="text" name="answer" required /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="disabled" type="submit" style="font-size: larger; margin-top: 25px; margin-right: 15%;" value="Send" />
            </td>
        </tr>
    </table>
</form>
</div>

 <!-- Bootstrap CSS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
{% endblock %}