{% extends 'template.html' %}

{% block title %}Usability Console - Register{% endblock %}


{% block css_styles %}
        input {
            line-height: 35px;
            width: 400px;
            margin-top: 10px;
            font-size: x-large;
        }

        td {
            padding: 15px;
         }

         .hidden {
            visibility: hidden
         }
{% endblock %}


{% block content %}
<head>
    {{ fontawesome_html() }}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
<br /><br />

<div class ="{{ hideStatusHome }}">

</div>

<div  class ="{{ hideStatusForm }}" >
<form action="{{ request.path }}" method="POST">
    <table class="centered" style="text-align: right; font-size: x-large;">
        <tr>
            <td> <i class="fas fa-eye"></i> <span style="margin-left: 15px;"><b>New Password*</b> :</span></td>
            <td><input type="password" name="password" id="password" required /></td>
        </tr>
        <tr>
            <td><b>Confirm Password*</b>  :</td>
            <td><input type="password" name="confirm_password" id="confirm_password"  required/></td>
        </tr>
        <tr>
        <tr>
            <td colspan="2">
                <input type="submit" style="font-size: larger; margin-top: 25px;" value="Change Password" />
            </td>
        </tr>
    </table>
</form>
</div>

 <!-- Bootstrap CSS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
{% endblock %}