{% extends 'template.html' %}

{% block title %}Usability Console - Settings{% endblock %}

{% block css_styles %}
        input {
            line-height: 35px;
            width: 400px;
            margin-top: 10px;
            font-size: x-large;
        }

        td {
            padding: 15px;
         }

        td:first-child { padding-right: 20px;}
    
{% endblock %}

{% block javascript%}

    function emailIsValid (email) {
        return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)
    }

    function validate() {

        var password1 = document.getElementById("password").value;
        var password2 = document.getElementById("confirm_password").value;

        if (password1.length > 0 || password2.length > 0) {
            if (password1.localeCompare(password2) != 0) {
                alert("Passwords do not match!");
                return false;
            }
        }

        var email = document.getElementById("email").value;
        if (email.length > 0) {
            if (!emailIsValid(email)) {
                alert("Entered email address is not in a valid format");
                return false;
            }
        }

        return true;
    }

    function cancelChanges() {
        window.location = '/session/viewall';
    }

{% endblock %}

{% block content %}

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>
<body>

<br /><br />
<form action="{{ request.path }}" method="POST">
<table align="center" style="font-size: x-large;">
    <tr>
        <td align="right"><b>Username: </b></td>
        <td align="left">{{ g.flask_session['username'] }}</td>
    </tr>
    <tr>
        <td align="right"><b>New Password* </b></td>
        <td align="left"><input type="password" id="password" name="password" /></td>
    </tr>
    <tr>
        <td align="right"><b>Confirm Password* </b></td>
        <td align="left"><input type="password" id="confirm_password" name="confirm_password" /></td>
    </tr>

    <tr>
        <td align="right"><b>First Name: </b></td>
        <td align="left"><input type="text" id="first_name" name="first_name" value="{% if g.flask_session['first_name'] is not none %}{{ g.flask_session['first_name'] }}{% endif %}"/></td>
    </tr>

    <tr>
        <td align="right"><b>Last Name: </b></td>
        <td align="left"><input type="text" id="last_name" name="last_name" value="{% if g.flask_session['last_name'] is not none %}{{ g.flask_session['last_name'] }}{% endif %}"/></td>
    </tr>

    <tr>
        <td align="right"><b>Email Address: </b></td>
        <td align="left"><input type="text" id="email" name="email" value="{% if g.flask_session['email_address'] is not none %}{{ g.flask_session['email_address'] }}{% endif %}"/></td>
    </tr>

    <tr>
        <td align="right"><b>API Key: </b></td>
        <td align="left">{{ g.flask_session['api_key'] }}</td>
    </tr>

    <tr> <td><h3><u>security questions</u></security></h3></td></tr>

    <tr>
        <td><b>Security Question 1*</b>  :</td>
        <td class="left">
        <select name="question1" method="GET" action="/" style="width: 100%;">
            {% for question in questions %}
            <option value= "{{question['question_id']}}" SELECTED>
                <p style="word-wrap: break-word; background-color: sienna;" >{{question['question']}}</p></option>"
            {% endfor %}
        </select>
    </td>
    </tr>
    <tr>
        <td><b>Answer 1*</b>  :</td>
        <td><input type="text" name="answer1"  required/></td>
    </tr>
    <tr>
        <td><b>Security Question 2*</b>  :</td>
        <td class="left">  <select name="question2" method="GET" action="/" style="width: 100%;">
            {% for question in questions %}
            <option value= "{{question['question_id']}}" SELECTED>
                <p style="word-wrap: break-word; background-color: sienna;" >{{question['question']}}</p></option>"
            {% endfor %}
        </select>
    </td>
    </tr>
    </tr>
    <tr>
        <td><b>Answer 2*</b>  :</td>
        <td class="left"><input type="text" name="answer2"  required/></td>
    </tr>
    <tr>
        <td><b>Security Question 3*</b>  :</td>
        <td class="left">  <select name="question3" method="GET" action="/" style="width: 100%;">
            {% for question in questions %}
            <option value= "{{question['question_id']}}" SELECTED>
                <p style="word-wrap: break-word; background-color: sienna;" >{{question['question']}}</p></option>"
            {% endfor %}
        </select>
    </td>
    </tr>
    </tr>
    <tr>
        <td><b>Answer 3*</b>  :</td>
        <td class="left"><input type="text" name="answer3"  required/></td>
    </tr>

    <tr>
        <td colspan="2">
            <br />
            <br />
            <input type="submit"  style="background-color:darkseagreen" name="save_settings" value="Save Changes" onclick="return validate();"/>
            <input type="button" style="background-color:lightcoral" id="cancele" style="margin-left: 20px;" name="cancel" value="Cancel" onclick="return cancelChanges();"/>
            
        </td>
    </tr>
</table>
</form>
 <!-- Bootstrap CSS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
{% endblock %}